@{
    ViewBag.Title = "Коллекция книг Star Wars.";
}
<h2 align="center">@ViewBag.Title</h2>

<p align="center">
    В данной коллекции собраны  все представленные в интернете книги о Star Wars.
</p>

<p align="center">
    Книги хранятся в формате FB2.
</p>

<p align="center">
    Для чтения файлов в этом формате на персональном компьютере Вы можете воспользоваться бесплатной программой <b>FBReader</b>.
    <br>
    <a href="https://ru.fbreader.org/win32" target="_blank"><img src="https://cdn.fbreader.org/files/images/icon/free_66.png" alt="FBReader"></a>
    <br>
    Для чтения на мобильных устройствах
    <br>
    <br>
    <a href="https://itunes.apple.com/ru/app/apple-store/id1067172178?pt=96191812&ct=fbreader.org.main&mt=8" target="_blank"><img src="https://cdn.fbreader.org/files/images/ios/badge/ru.svg" alt="FBReader" width="100"></a>
    <br>
    <br>
    <a href="https://goo.gl/tr5J9p" target="_blank"><img src="https://cdn.fbreader.org/files/images/android/play/ru_badge_web_generic.png" alt="FBReader" width="115"></a>
    <br>

    <!--

    <img class="img-responsive" src="https://cdn.fbreader.org/files/images/icon/free_66.png" />  .

    -->

</p>
<p align="center">
    Приятного чтения.
</p>